.header {
	font-size :400%;
	color: white;
	text-align: center;
	font-family: verdana;
	text-shadow: 3px 3px 5px #1db6b6;
}

.photo_header {
	text-align: center;
	margin-top: 130px;
}

.upload {
	font-size: 150%;
	text-align: center;
	font-family: verdana;
	text-shadow: 1px 1px 2px #1db6b6;
	color: white;
}

.buttons {
	margin-top: 20px;
}

.user {
    width: 308px;
    height: 46px;
    background: #ffffff;
    padding: 0 10px;
    font-size: 0.8em;
    line-height: 46px; 
   }
